/* CSS Document */

product {
	display: block;
	margin-bottom: 20px;
	border: 2px solid #FD65B1;
	border-radius: 10px;
	padding: 10px;
	background-color: lavenderblush;
}
product:after {
	white-space: pre;
	content: "\A";
}

name {
	font-weight: bold;
	margin-bottom: 5px;
}
name:after {
	white-space: pre;
	ontent: "\A";
}

description {
	color: darkred;
	margin-bottom: 5px;
}
description:after {
	white-space: pre;
	ontent: "\A";
}

price {
	color: orangered;
	margin-bottom: 5px;
}
price:after {
	white-space: pre;
	ontent: "\A";
}

categories {
	display: flex;
	justify-content: center;
	align-items: center;
}

category {
	font-style: italic;
	color: steelblue;
	margin: 0 5px;
}
