/* CSS Document */

product {
	display: block;
	margin-bottom: 20px;
	border: 2px solid #FD65B1;
	border-radius: 10px;
	padding: 10px;
	background-color: lavenderblush;
}


name {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}


description {
	display: block;
	color: darkred;
	margin-bottom: 5px;
}


price {
	display: block;
	color: orangered;
	margin-bottom: 5px;
}


categories {
	display: flex;
	justify-content: center;
	align-items: center;
}

category {
	font-style: italic;
	color: steelblue;
	margin: 0 5px;
}
